<a class="boton_transiciones">transiciones</a>

<h4>Utilizar jquery dentro de angular</h4>
<button id="botonjq">Mostrar texto</button>
<p id="textojq" class="alert alert-warning"> texto a mostrar</p>

<div id="caja" style="width: 150px; height: 50px; border: 1px solid black;">Esto es una frase larga para prueba del dotdotdot</div>
<div>
<hr>
<simple-tiny
  [elementId]="'descripcionTienda'"
  (onEditorKeyup)="textoRichEditor($event)"
  >
</simple-tiny>
</div>
<hr>
<h3>Padre:</h3>
<h1>{{titulo}}</h1>



<hr>
nombre del parque:
<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />
<br>Resultado: {{nombreDelParque}}

<hr>

<div *ngIf="miParque">
	<h4>datos de mi parque desde el hijo</h4>
		<ol>
			<li>{{miParque.nombre}}</li> 
			<li>{{miParque.metros}}</li> 
			<li>{{miParque.vegetacion}}</li> 
			<li>{{miParque.abierto}}</li> 

		</ol>
</div>

<hr>
<p>
Hijo:
<parques [nombre]="nombreDelParque" 
		 [metros_cuadrados]="598"
		 (pasameLosDatos)="verDatosParque($event)">
</parques>
</p>