<div class="col-lg-10">
	<h3>{{title}}</h3>

	<form #formAdd="ngForm" (ngSubmit)="onSubmit()">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="animal.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched"> El nombre es obligatorio</span>
		</p>
		<p>
			<label>Descripcion</label>
			<textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="animal.description" required></textarea>
			<span *ngIf="!description.valid && description.touched"> La descripción es obligatorio</span>
		</p>
		<p>
			<label>Año</label>
			<input type="text" class="form-control"  name="year" #year="ngModel" [(ngModel)]="animal.year" required />
			<span *ngIf="!year.valid && year.touched"> EL año es obligatorio</span>
		</p>
		<div *ngIf="is_edit && animal.image">
			<div class="image_for_edit">
				<img class ="image_for_edit" src="{{url+'get-image-animal/'+ animal.image}}">
			</div>
		</div>
		<p>
			<label> Imagen del animal</label>
			<input type="file" placeholder="Subir imagen..." name="image" (change)="fileChangeEvent($event)"/>
		</p>
		<input type="submit" class="btn btn-success" value="{{title}}"/>
	</form>
</div>