<div class="col-lg-12" >
	<h1>{{tittle}}</h1>
	  <div class="col-sm-3" *ngFor="let animal of animals">
	    <div class="thumbnail">
	        <div class="animal-image-mask">
	     	 <img src="{{url+'get-image-animal/'+animal.image}}" alt="{{animal.name}}" *ngIf="animal.image">
	     	 <img src="http://via.placeholder.com/375x200" alt="{{animal.name}}" *ngIf="!animal.image">
	      	</div>
	      <div class="caption">
	        <h3><a href="#" [routerLink]="['/animal',animal._id]">{{animal.name}}</a></h3>
	        <p>{{animal.description}}</p>
	      </div>
	    </div>
	  </div>
</div>